
<div style="@(NewNodeAddingInProgress ? "opacity: 0.1; pointer-events:none" : "")">
    @if (NodeLibrary != null)
    {
        <NodeLibraryArea Orientation="@NodeLibrary.Orientation" AdditionalAttributes="@NodeLibrary.AdditionalAttributes">
            <CascadingValue Value="NodeLibrary" IsFixed="true">
                @NodeLibrary.ChildContent
            </CascadingValue>
        </NodeLibraryArea>
    }
    <div style="position: absolute;">
        <Renderer @ref="node_template_content_renderer" />
    </div>
</div>

@code {
    private bool new_node_adding_in_progress;
    internal bool NewNodeAddingInProgress
    {
        get => new_node_adding_in_progress;
        set
        {
            new_node_adding_in_progress = value;
            StateHasChanged();
        }
    }
    [Parameter] public NodeLibrary NodeLibrary { get; set; }
    private Renderer node_template_content_renderer;
    internal void Add(RenderFragment<string> render_fragment) => node_template_content_renderer.Add(render_fragment);
    internal void Remove(RenderFragment<string> render_fragment) => node_template_content_renderer.Remove(render_fragment);
}
