@using Microsoft.JSInterop
@using Excubo.Blazor.Diagrams.Extensions

@using (var temporary_culture = new CultureSwapper())
{
    <div style="
                 position: absolute;
                 left: @(X)px;
                 top: @(Y)px;
                 pointer-events: none;
                 transform: scale(@Zoom);
                 transform-origin: 0 0;"
         @ref="element">
        @using (var suspension = temporary_culture.Suspend())
        {
            @ChildContent
        }
    </div>
}
@code {
    private ElementReference element;
}
