
<style>
    .navigation-link {
        color: white;
    }

        .navigation-link:hover {
            color: whitesmoke;
        }
</style>
<a class="navigation-link" href="">Home</a>
<ul>
    <li><a class="navigation-link" href="with_overview">Overview Screen</a></li>
    <li><a class="navigation-link" href="performance">Performance</a></li>
    <li><a class="navigation-link" href="ports">Ports</a></li>
    <li><a class="navigation-link" href="link_selector">Links</a></li>
    <li><a class="navigation-link" href="node_library">Node Library</a></li>
    <li><a class="navigation-link" href="custom_node">Custom Node</a></li>
    <li><a class="navigation-link" href="fixed_node">Fixed Node</a></li>
    <li><a class="navigation-link" href="grid_lines">Grid Lines</a></li>
    <li><a class="navigation-link" href="auto_layout">Auto Layout</a></li>
    <li><a class="navigation-link" href="panning_disabled">No panning</a></li>
    <li><a class="navigation-link" href="zooming">Zooming</a></li>
    <li><a class="navigation-link" href="selection">Selection (grouping)</a></li>
    <li><a class="navigation-link" href="modification_from_code">Modify nodes/links from code</a></li>
</ul>
<hr />
<div style="width: fit-content; margin-left: auto; margin-right: auto">
    <CommitLink />
</div>
