<ul style="height:100%; background-color: beige">
    <li><a href="">Overview</a></li>
    <li><a href="simple">Simple</a></li>
    <li><a href="performance">Performance</a></li>
    <li><a href="ports">Ports</a></li>
</ul>
<div style="position: absolute; left: 2em; bottom: 1em">
    <CommitLink />
</div>
