@page "/custom_node"

<Diagram>
    <NodeLibrary style="background-color: aliceblue; border: 1px solid blue; " Orientation="Orientation.Vertical">
        <UserDefinedNode>
            <div style="width:5em; height:3em; margin: 1em;">Template User-defined!</div>
        </UserDefinedNode>
    </NodeLibrary>
    <Nodes OnAdd="(_) => {}">
        <UserDefinedNode X="300" Y="300">
            Hello custom node.
        </UserDefinedNode>
    </Nodes>
    <Links />
    <OverviewSettings />
</Diagram>
@code {

}
