@page "/custom_node"

<Diagram>
    <NodeLibrary style="background-color: aliceblue; border: 1px solid blue; " Orientation="Orientation.Vertical">
        <UserNodeCode>
            <div style="width:5em; height:3em; margin: 1em;">Template User-defined!</div>
        </UserNodeCode>
    </NodeLibrary>
    <Nodes>
        <UserNodeCode X="300" Y="300">
            Hello custom node.
        </UserNodeCode>
    </Nodes>
    <Links />
    <OverviewSettings />
</Diagram>
